# Import geography data

The `stroke-maps` package contains various data files that link different geographies together.

This notebook shows how to import some useful files for use elsewhere.

The three main categories of data files are:
+ Region lookup
+ Travel times
+ Geography (locations and coordinates)

## Notebook setup

In [1]:
import stroke_maps

## 1. Region lookup

The files available are:
+ stroke units to containing regions
+ LSOA to SICBL/LHB
+ SICBL/LHB to larger regions

__Stroke unit to region lookup:__

In [2]:
df_units = stroke_maps.load_data.stroke_unit_region_lookup()

df_units.head(3).T

postcode,SY231ER,CB20QQ,L97AL
stroke_team,Bronglais Hospital (Aberystwyth),"Addenbrooke's Hospital, Cambridge","University Hospital Aintree, Liverpool"
short_code,AB,AD,AI
ssnap_name,Bronglais Hospital,Addenbrooke's Hospital,University Hospital Aintree
use_ivt,1,1,1
use_mt,0,1,1
use_msu,0,1,1
transfer_unit_postcode,nearest,nearest,nearest
lsoa,Ceredigion 002A,Cambridge 013D,Liverpool 005A
lsoa_code,W01000512,E01017995,E01006654
region,Hywel Dda University Health Board,NHS Cambridgeshire and Peterborough ICB - 06H,NHS Cheshire and Merseyside ICB - 99A
region_code,W11000025,E38000260,E38000101
region_type,LHB,SICBL,SICBL
country,Wales,England,England
icb,NaN,NHS Cambridgeshire and Peterborough Integrated...,NHS Cheshire and Merseyside Integrated Care Board
icb_code,NaN,E54000056,E54000008
isdn,NaN,East of England (South),Cheshire and Merseyside

__LSOA to region lookup:__

In [3]:
df_lsoa_regions = stroke_maps.load_data.lsoa_region_lookup()

df_lsoa_regions.head(3)

,,region,region_code,region_type
lsoa,lsoa_code,,,
Halton 007A,E01012367,NHS Cheshire and Merseyside ICB - 01F,E38000068,SICBL
Halton 003A,E01012368,NHS Cheshire and Merseyside ICB - 01F,E38000068,SICBL
Halton 005A,E01012369,NHS Cheshire and Merseyside ICB - 01F,E38000068,SICBL

__Region to region lookup:__

In [4]:
df_regions = stroke_maps.load_data.region_lookup()

df_regions.head(3)

,,region_type,short_code,country,icb,icb_code,isdn
region,region_code,,,,,,
Aneurin Bevan University Health Board,W11000028,LHB,AB,Wales,NaN,NaN,NaN
"NHS Bath and North East Somerset, Swindon and Wiltshire ICB - 92G",E38000231,SICBL,BA,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset"
Betsi Cadwaladr University Health Board,W11000023,LHB,BC,Wales,NaN,NaN,NaN

## 2. Travel times

The files available are:
+ Time from each LSOA to each stroke unit
+ Time from each stroke unit to each other stroke unit

__LSOA to stroke unit travel time lookup:__

In [5]:
df_travel_lsoa = stroke_maps.load_data.travel_time_matrix_lsoa()

# Show the first five rows and columns:
df_travel_lsoa.iloc[:5, :5]

           B152TH  B714HJ  B95SS  BA13NG  BA214AT
LSOA
Adur 001A   173.3   179.8  171.2   161.5    152.9
Adur 001B   173.3   179.8  172.3   161.5    152.9
Adur 001C   173.3   180.9  172.3   150.8    151.9
Adur 001D   173.3   180.9  172.3   161.5    152.9
Adur 001E   174.4   180.9  173.3   150.8    151.9

__Stroke unit to other unit travel time lookup:__

In [6]:
df_travel_units = stroke_maps.load_data.travel_time_matrix_units()

# Show the first five rows and columns:
df_travel_units.iloc[:5, :5]

               B152TH  B714HJ  B95SS  BA13NG  BA214AT
from_postcode
B152TH            0.0    18.7   18.7   107.8    155.1
B714HJ           18.7     0.0   24.1   106.8    154.0
B95SS            19.8    23.0    0.0   115.3    162.6
BA13NG          107.8   106.8  115.3     0.0     62.7
BA214AT         155.1   154.0  162.6    62.7      0.0

## 3. Geography

The files available are:
+ Stroke unit coordinates
+ Region boundaries
  + LSOA
  + Sub-Integrated Care Board Locations (SICBL) for England
  + Local Health Boards (LHB) for Wales

__Stroke unit coordinates:__

In [7]:
df_unit_coords = stroke_maps.load_data.stroke_unit_coordinates()

df_unit_coords.head(3)

           BNG_E   BNG_N   Latitude  Longitude
postcode
RM70AG    551110  187777  51.568622   0.178914
E11BB     534833  181799  51.519026  -0.058075
SW66SX    524227  176487  51.473716  -0.212722

__LSOA boundaries:__

In [8]:
gdf_lsoa = stroke_maps.load_data.lsoa_geography()

gdf_lsoa.head(3).T

__Sub-Integrated Care Board Locations (England) boundaries:__

In [10]:
gdf_sicbl = stroke_maps.load_data.sicbl_geography()

gdf_sicbl.head(3).T

__Local Health Board (Wales) boundaries:__

In [12]:
gdf_lhb = stroke_maps.load_data.lhb_geography()

gdf_lhb.head(3).T